extends layout

block content
  .container-fluid
    h1 Consent
    table.table.table-hover
      thead
        tr
          th(wdith="10%") Field
          th(width="90%") Value
      tbody
        tr
          td Contract #
          td= consent.id
        tr
          td Title
          td= consent.title
        tr
          td Text
          td= consent.text
        tr
          td Version
          td= consent.version
        tr
          td Status
          td= consent.status
    h1 What do you want to do with this consent?
    a(href="/consentaction/"+consent.id+"/1",class="btn btn-success") Accept
    b &nbsp;
    a(href="/consentaction/"+consent.id+"/0",class="btn btn-success") Deny
    b &nbsp;
    a(href="/list",class="btn btn-danger") Cancel

