extends layout
include mixins

block content
  +nav("Consent Handling", "dropdown_menu", "inverse")
      +nav_item( "/list" ) List of consents
      +nav_item( "/listofactivetemplates" ) List of templates
      +nav_item( "/listofalltemplates" ) Template history      
      +nav_item( "/logout" ) Logout
  .container-fluid
    h1 Consent Template
    table.table.table-hover
      thead
        tr
          th(wdith="10%") Field
          th(width="90%") Value
      tbody
        tr
          td Contract #
          td= consentTemplate.id
        tr
          td Purpouse
          td= consentTemplate.purpouse
        tr
          td Locale
          td= consentTemplate.locale
        tr
          td Version
          td= consentTemplate.version
        tr
          td Title
          td= consentTemplate.title
        tr
          td Text
          td= consentTemplate.text
    a(href=backURL,class="btn btn-danger") Back
