extends layout

block content
  .container-fluid
    h1 Consent
    table.table.table-hover
      thead
        tr
          th(wdith="10%") Field
          th(width="90%") Value
      tbody
        tr
          td Contract #
          td= consent.id
        tr
          td Title
          td= consent.title
        tr
          td Text
          td= consent.text
        tr
          td Version
          td= consent.version
        tr
          td Status
          td= consent.status
        tr
          td Password
          td
            input.form-control(type='password', name="password", placeholder='Password')
    h1 What do you want to do with this consent?
    p By accepting you agree to the usage of the purpouse as described above. By denying you do not agree. You can at any time change your decision or make no decision at all by pressing cancel. If you choose to accept or deny you need to reenter your password to sign your decision.
    p
    a(href="/consentaction/"+consent.id+"/1",class="btn btn-success") Accept
    b &nbsp;
    a(href="/consentaction/"+consent.id+"/0",class="btn btn-success") Deny
    b &nbsp;
    a(href="/list",class="btn btn-danger") Cancel

