extends layout

block content
  .container-fluid
    h1 Consent
    form(role='form', action="/consent/"+consent.id,method="post", style='max-width: 800px;')
      table.table.table-hover
        thead
          tr
            th(width="20%") Field
            th(width="80%") Value
        tbody
          tr
            td Contract #
            td= consent.id
          tr
            td Company
            td= consent.company
          tr
            td Title
            td= consent.title
          tr
            td Text
            td= consent.text
          tr
            td Version
            td= consent.version
          tr
            td Status
            td= consent.status
          tr
            td Password
            td
              input.form-control(type='password', name="password", placeholder='Password', required)
      h1 What do you want to do with this consent?
      p By pressing the Accept button you agree to the consent and its purpouse as stated above. By pressing the Deny button you deny the request for this consent. You can at any time change your decision or make no decision at all by pressing Cancel. If you choose to accept or deny you need to reenter your password to sign your decision.
      p
      button.btn.btn-primary(type='submit', name='action' value='1') Accept
      b &nbsp;
      button.btn.btn-primary(type='submit', name='action' value='0') Deny
      b &nbsp;
      a(href="/list",class="btn btn-danger") Cancel
