extends layout

block content
  .container-fluid
    h1 New Consent Template
    form(role='form', action="/createconsent",method="post", style='max-width: 800px;')
      input.hidden(name="purpouse" value=consentTemplate.purpouse)
      input.hidden(name="locale" value=consentTemplate.locale)
      table.table.table-hover
        thead
          tr
            th(wdith="10%") Field
            th(width="90%") Value
        tbody
          tr
            td Contract #
            td= consentTemplate.id
          tr
            td Purpouse
            td= consentTemplate.purpouse
          tr
            td Locale
            td= consentTemplate.locale
          tr
            td Version
            td= consentTemplate.version
          tr
            td Title
            td= consentTemplate.title
          tr
            td Text
            td= consentTemplate.text
          tr
            td Password
            td
              input.form-control(type='password', name="password", placeholder='Password', required)
          tr
            td User
            td
              select.selectpicker.form-control(name="consents")
                each val in users
                  option(value=val.consents)
                    =val.username
      button.btn.btn-primary(type='submit') Create
      b &nbsp;
      a(href=backURL,class="btn btn-danger") Cancel
