doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            | Consent Chain Prototype
        ul.nav.navbar-nav
          if(user)
            if(user.role === 'user')
              li(class=menu_l)
                a(href="/list") List of consents
            if(user.role === 'admin')
              li(class=menu_lactive)
                a(href="/listofactivetemplates") List of templates
              li(class=menu_lall)
                a(href="/listofalltemplates") Template history
              li(class=menu_bc)
                a(href="/blockchain") Blockchain
        ul.nav.navbar-nav.navbar-right
          if(!user)
            li
              a(href="/register")
                span.glyphicon.glyphicon-user
                |  Sign Up
            li
              a(href="/login")
                span.glyphicon.glyphicon-log-in
                |  Login
          if(user)
            li
              a(href="/logout")
                span.glyphicon.glyphicon-log-out
                |  Logout
    block content

  script(src='https://code.jquery.com/jquery.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
