extends layout
include mixins

block content
  +nav("Consent Handling", "dropdown_menu", "inverse")
      +nav_item( "/list" ) List of consents  
      +nav_item( "/listofactivetemplates" ) List of templates
      +nav_item( "/listofalltemplates", "active") Template history
      +nav_item( "/logout" ) Logout
  .container-fluid
    h1 All templates
    div
      table.table.table-hover
        thead
          tr
            th(width="30%") Contract
            th(width="5%") Purpouse
            th(width="5%") Version
            th(wdith="5%") Locale
            th(width="55%") Title
        tbody
          each val in consents
            tr
              td
                a(href='/consenttemplate/'+val.id) #{val.id}
              td= val.purpouse
              td= val.version
              td= val.languageCountry
              td= val.title
