extends layout

block content
  .container-fluid
    h1 All templates
    div
      table.table.table-hover
        thead
          tr
            th(width="30%") Contract
            th(width="5%") Purpose
            th(width="5%") Version
            th(wdith="5%") Locale
            th(width="55%") Title
        tbody
          each val in consents
            tr
              td
                a(href='/consenttemplate/'+val.id) #{val.id}
              td= val.purpouse
              td= val.version
              td= val.languageCountry
              td= val.title
