extends layout
include mixins

block content
  +nav("Consent Handling", "dropdown_menu", "inverse")
      +nav_item( "/list" ) List of consents
      +nav_item( "/listofactivetemplates" ) List of templates
      +nav_item( "/listofalltemplates" ) Template history
      +nav_item( "/logout" ) Logout
  .container-fluid
    h1 New Consent Template
    form(role='form', action="/createnewtemplate",method="post", style='max-width: 800px;')
      .form-group
        label Purpouse
          if(item.readonly)
            input.form-control(type='text', name="purpouse", value=item.purpouse, readonly)
          if(!item.readonly)
            input.form-control(type='text', name="purpouse", value=item.purpouse)
        b &nbsp;
        label Locale
          if(item.readonly)
            input.form-control(type='text', name="locale", value=item.locale, readonly)
          if(!item.readonly)
            input.form-control(type='text', name="locale", value=item.locale)
        b &nbsp;
        label Version
          if(item.readonly)
            input.form-control(type='text', name="version", value=item.version, readonly)
          if(!item.readonly)
            input.form-control(type='text', name="version", value=item.version)
      .form-group
        label Title
          input.form-control(type='text', name="title", placeholder='Enter title')
      .form-group
        label Description
        textarea.form-control(rows="5", name="description", placeholder='Enter description')
      button.btn.btn-default(type='submit') Submit
      b &nbsp;
      a(href='/listofactivetemplates')
        button.btn.btn-primary(type="button") Cancel
