extends layout

block content
  .container-fluid
    h1 New Consent Template
    form(role='form', action="/newtemplate",method="post", style='max-width: 800px;')
      .form-group
        label Purpouse
          if(item.readonly)
            input.form-control(type='text', name="purpouse", value=item.purpouse, readonly)
          if(!item.readonly)
            input.form-control(type='text', name="purpouse", value=item.purpouse, required)
        b &nbsp;
        label Locale
          if(item.readonly)
            input.form-control(type='text', name="locale", value=item.locale, readonly)
          if(!item.readonly)
            input.form-control(type='text', name="locale", value=item.locale, required, pattern='([a-z]{2}-|)[A-Z]{2}')
        b &nbsp;
        label Version
          input.form-control(type='text', name="version", value=item.version, readonly)
      .form-group
        label Title
          input.form-control(type='text', name="title", placeholder='Enter title', required)
      .form-group
        label Description
        textarea.form-control(rows="5", name="description", placeholder='Enter description', required)
      .form-group
        label Password
        input.form-control(type='password', name="password", placeholder='Password', required)
      button.btn.btn-primary(type='submit') Submit
      b &nbsp;
      a(href='/listofactivetemplates')
        button.btn.btn-danger(type="button") Cancel
